<div class="container">
    <!-- <img src="" alt="employee img"> -->
    <h2>Add new employee</h2>
    <form>
        <div class="field">
            <input type="text" class="employee-input" placeholder="Name" name="name" required ngModel
                #nameInput="ngModel">
            <input type="text" class="employee-input" placeholder="Email" name="email" required ngModel
                #emailInput="ngModel">
            <input type="text" class="employee-input" placeholder="Position" name="position" required ngModel
                #positionInput="ngModel">
            <input type="text" class="employee-input" placeholder="Company Id" name="companyId" required ngModel
                #companyIdInput="ngModel">
            <input type="text" class="employee-input" placeholder="Phone number" phoneNumber name="phone" required
                ngModel #phoneInput="ngModel">
            <input type="text" class="employee-input" placeholder="Location" phoneNumber name="location" required
                ngModel #locationInput="ngModel">
        </div>
        <div class="field">
            <input type="text" class="employee-input" placeholder="Department" phoneNumber name="department" required
                ngModel #departmentInput="ngModel">
            <input type="text" class="employee-input" placeholder="Employment type" phoneNumber name="employmentType"
                required ngModel #employmentTypeInput="ngModel">
            <input type="text" class="employee-input" placeholder="Role" phoneNumber name="role" required ngModel
                #roleInput="ngModel">
            <input type="text" class="employee-input" placeholder="manager" phoneNumber name="manager" required ngModel
                #managerInput="ngModel">
        </div>
    </form>
</div>