 <div class="card" >
    <div class="card-image">
        <img src="{{training.imgUrl}}" alt="{{training.name}}">
    </div>
    <div class="card-text">
        <span class="date">{{training.date}}</span>
        <h2>{{training.name}}</h2>
        <p>{{training.description}}</p>
    </div>
    <div class="card-stats">
        <div class="duration stat">
            <span>{{training.time}}</span>
        </div>
        <div class="join-btn stat">
            <button (click)="(training.id)">Join</button>
        </div>
    </div>
</div>