<div class="card">
    <div class="card-image"></div>
    <div class="card-text">
        <span class="date">15 September 2023</span>
        <h2>Course</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque deleniti rerum, quis quod voluptates enim
            animi impedit minima exercitationem distinctio!</p>
    </div>
    <div class="card-stats">
        <div class="duration stat" >
            <span>30 min</span>
        </div>
        <div class="join-btn stat">
            <a href="">Join</a>
        </div>
    </div>
</div>