<div class="container">
    <div class="about about-picture">
        <img src="../../assets/personnel.png" alt="about-us-pic">
    </div>

    <div class="about about-info">
        <h2>About us</h2>
        <p>Alyeska is a desktop application engineered to digitize personnel management, ensuring swift and efficient
            access to essential information. Designed to facilitate rapid retrieval and management of employee data,
            Alyeska transforms the traditional approach to workforce administration. With a focus on digital efficiency,
            it offers a centralized platform where organizations can effortlessly create, organize, and access
            comprehensive employee profiles, ensuring that crucial details are at your fingertips whenever you need
            them.</p>
    </div>

</div>