<div class="container">
    <div class="about about-picture">
        <img src="https://i.ibb.co/RC72zVp/about-us-pic.png" alt="about-us-pic">
    </div>

    <div class="about about-info">
        <h4>eco fashion</h4>
        <h2>About us</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit repudiandae adipisci tempore aliquid dolorum
            provident? Odit quisquam exercitationem ut modi dolorum. Suscipit sed unde assumenda voluptate. Illum eaque
            corrupti officia?</p>
    </div>

</div>