.container {
  background: rgb(116, 107, 243);
  background: radial-gradient(
    circle,
    rgba(116, 107, 243, 1) 0%,
    rgba(15, 48, 84, 1) 75%
  );
  display: flex;
  justify-content: center;
}


.about-picture {
  text-align: end;
}

img {
  width: 50vh;
  text-align: end;
}

.about-info {
  color: rgba(15, 48, 84, 1);
  background: white;
  display: flex;
  width: 35%;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.about-info h2{
    font-size: 40px;
}
.about-info h4 {
    font-size: 20px;
}
.about-info p  {
    font-size: 18px;
    padding: 30px 60px;
}
