<table class="table">
    <tr class="table-name">
        <td colspan="5 ">Experience</td>
        <td><button class="btn-add btn" (click)="myDialog.show()">+</button></td>
    </tr>
    <tr class="table-head">
        <th>Location</th>
        <th>Company Name</th>
        <th>Position</th>
        <th>Start date</th>
        <th>End date</th>
        <th>Explanation</th>
    </tr>
    <tr class="table-body">
        <td>Demo</td>
        <td>Demo</td>
        <td>Demo</td>
        <td>Demo</td>
        <td>Demo</td>
        <td>Demo</td>
    </tr>
</table>

<dialog #myDialog class="dialog-form">
    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
        <div class="input-data">
            <label for="company">Company Name
            </label>
            <input type="text" class="employee-input" name="company" #inputcompany="ngModel" required ngModel>
            <span class="err-msg" *ngIf="form.controls['company']?.touched">
                    <span *ngIf="form.controls['company']?.errors?.['required']">Company Name is required! </span>
                    <span *ngIf="form.controls['company']?.errors?.['minlength']">Company Name should be minimum 8
                        characters! </span>
                </span>
        </div>
        <div class="input-data">
            <label for="location">Location
            </label>
            <input type="text" class="employee-input" name="location" #inputlocation="ngModel" required ngModel >
            <span class="err-msg" *ngIf="form.controls['location']?.touched">
                    <span *ngIf="form.controls['location']?.errors?.['required']">Location is required! </span>
                    <span *ngIf="form.controls['location']?.errors?.['minlength']">Location should be minimum 8 characters!
                    </span>
                </span>
        </div>

        <div class="input-data">
            <label for="position">Position
            </label>
            <input type="text" class="employee-input" name="position" #inputposition="ngModel" required ngModel>
            <span class="err-msg" *ngIf="form.controls['position']?.touched">
                    <span *ngIf="form.controls['position']?.errors?.['required']">Position is required! </span>
                    <span *ngIf="form.controls['position']?.errors?.['minlength']">Position should be minimum 2 characters!
                    </span>
                </span>
        </div>
        <div class="input-data">
            <label for="startDate">Start Date
            </label>
            <input type="text" class="employee-input" name="startDate" #inputstartDate="ngModel" required ngModel>
            <span class="err-msg" *ngIf="form.controls['startDate']?.touched">
                    <span *ngIf="form.controls['startDate']?.errors?.['required']">Start Date is required! </span>
                    <span *ngIf="form.controls['startDate']?.errors?.['minlength']">Start Date should be minimum 6
                        characters! </span>
                </span>
        </div>

        <div class="input-data">
            <label for="end-date">End Date
            </label>
            <input type="text" class="employee-input" name="end-date" #inputendDate="ngModel" required ngModel>
            <span class="err-msg" *ngIf="form.controls['end-date']?.touched">
                    <span *ngIf="form.controls['end-date']?.errors?.['required']">End Date is required! </span>
                    <span *ngIf="form.controls['end-date']?.errors?.['minlength']">End Date should be minimum 2
                        characters!
                    </span>
                </span>
        </div>
        <div class="input-data">
            <label for="description">Description
            </label>
            <textarea type="text" class="employee-input" name="description" #inputdescription="ngModel" required ngModel></textarea>
            <span class="err-msg" *ngIf="form.controls['description']?.touched">
                    <span *ngIf="form.controls['description']?.errors?.['required']">Description is required! </span>
                    <span *ngIf="form.controls['description']?.errors?.['minlength']">Description should be minimum 4
                        characters! </span>
                </span>
        </div>
        <div class="input-data">
            <button type="button" class="close-btn btn" (click)="myDialog.close()">Close</button>
            <button type="submit" class="send-btn btn">Send</button>
        </div>
    </form>
</dialog>