.table {
  width: 100%;
  margin: 20px 0;
  border-radius: 10px;
  box-shadow: 9px 5px 10px 0 rgb(21 68 155);
  border-collapse: collapse;
  overflow-x: auto;
}

.table th,
.table td {
  padding: 12px;
  box-sizing: border-box;
}

.table .table-head {
  background-color: rgba(15, 48, 84, 1);
  color: white;
}

.table .table-name td {
  padding: 10px 0;
  text-align: center;
  padding-left: 46px;
}

.table .table-name .btn-add {
  text-align: center;
  width: 36px;
  height: 24px;
  color: white;
  background: rgba(15, 48, 84, 1);
  font-weight: 900;
  cursor: pointer;
}

/* Responsive adjustments */
@media only screen and (max-width: 768px) {
  .table {
    font-size: 14px;
    overflow-x: auto;
    display: block;
  }

  .table th,
  .table td {
    min-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
