<table class="table">
    <tr class="table-name">
        <td colspan="5 ">Exprerience</td>
        <td><button class="btn-add btn">+</button></td>
    </tr>
    <tr class="table-head">
        <th>Location</th>
        <th>Company Name</th>
        <th>Position</th>
        <th>Start date</th>
        <th>End date</th>
        <th>Explanation</th>
    </tr>
    <tr class="table-body">
        <td>Demo</td>
        <td>Demo</td>
        <td>Demo</td>
        <td>Demo</td>
        <td>Demo</td>
        <td>Demo</td>
    </tr>
</table>
