<table class="table">
    <tr class="table-name">
        <td colspan="5" (click)="toggleTable()">{{infoData.type}}</td>
        <td><button class="btn-add btn" (click)="openDialog()">+</button></td>
    </tr>
    <tr class="table-head" >
        <th>{{infoData.institution}} Name</th>
        <th>Location</th>
        <th>{{infoData.activity}}</th>
        <th>Start date</th>
        <th>End date</th>
        <th>Explanation</th>
    </tr>
    <tr class="table-body" *ngFor="let res of currentResult">
        <td>{{res.institution}}</td>
        <td>{{res.location}}</td>
        <td>{{res.activity}}</td>
        <td>{{res.startDate}}</td>
        <td>{{res.endDate}}</td>
        <td>{{res.description}}</td>
    </tr>
</table>
