<header>
    <span class="menu-icons">
    <a *ngIf="isToggled" (click)="isToggle()"><i class="fa-solid fa-ellipsis-vertical" ></i> </a>
    <a *ngIf="!isToggled" (click)="isToggle()"><i class="fa-solid fa-x" ></i></a>
    </span>
    <nav>
        <img class="logo" src="/assets/logo.png" alt="logo">
        <span class="wrapper row" *ngIf="!isToggled">
        <ul class="nav-links row">
            <li><a routerLink="/about" >About Us</a></li>
            <span *ngIf="isLogged" class="user row">
                <li><a routerLink="user/profile" >Personal Info</a></li>
                <li><a routerLink="/ed" >Education</a></li>
                <li><a routerLink="/fun" >Time for fun</a></li>
                <li><a><i class="fa-solid fa-door-open"></i></a></li>
            </span>
            <li><a *ngIf="!isLogged" routerLink="/careers"  class="row">Careers</a></li>
        </ul>

        <div *ngIf="!isLogged" class="entry row">
            <a class="entry-btn" href="">Register</a>
            <a class="entry-btn" href="">Login</a>
        </div>
    </span>
    </nav>
</header>