.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.user-img {
  display: none;
}

.wrapper {
  background: radial-gradient(
    circle,
    rgba(116, 107, 243, 1) 0%,
    rgba(15, 48, 84, 1) 100%
  );
  padding: 100px 80px 50px 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  font-size: 18px;
}

.user-title {
  background-color: white;
  border-radius: 50%;
  width: 100%;
  height: 77px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 95px;
  left: 0;
}

.user-icon i {
  font-size: 32px;
  color: rgba(15, 48, 84, 1);
}

.register-field {
  display: flex;
  margin-top: 25px;
  flex-direction: column;
  width: 100%;
}


div.error {
  font-size: 12px;
}

.register-submit {
  outline: none;
  background-color: #f3ebe9;
  color: rgba(15, 48, 84, 1);
  padding: 8px;
  margin-top: 25px;
  display: block;
  width: 100%;
  border: none;
  text-transform: uppercase;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.register-submit:hover {
  box-shadow: 4px 4px 3px #3e9eff;
}

@media only screen and (min-width: 1024px) {
  .user-img {
    display: block;
    align-self: center;
    text-align-last: center;
    width: 35%;
  }

  .user-img img {
    width: 100%;
  }

  .container {
    align-items: center;
    flex-direction: row;
  }
  .wrapper {
    padding-top: 30px;
  }

  .user-title {
    background: none;

    position: inherit;
  }
}
