<div class="container">
	<div class="screen">
		<div class="screen-content">
			<form class="register"  #registerForm="ngForm" (ngSubmit)="registerHandler(registerForm)">

				<div class="register-field">
					<i class="register-icon fa-solid fa-at"></i>
					<input type="text" class="register-input" placeholder="Email" name="email" required email ngModel
					#emailInput="ngModel" >
					<div class="error" *ngIf="emailInput.touched">
						<span *ngIf="emailInput.errors?.['required']">Please enter your email!</span>
						<span *ngIf="emailInput.errors?.['email']">Please enter a valid email!</span>
					</div>
				</div>

				<div class="register-field">
					<i class="register-icon fa-solid fa-lock"></i>
					<input type="password" class="register-input" placeholder="Password" name="password"
					required password ngModel
					#passwordInput="ngModel" >
					<div class="error" *ngIf="passwordInput.touched">
						<span *ngIf="passwordInput.errors?.['required']">Please enter your password!</span>
						<span *ngIf="passwordInput.errors?.['minlength']">Your password must be at least 6
							characters.</span>
					</div>
				</div>

				<div class="register-field">
					<i class="register-icon fa-solid fa-lock"></i>
					<input type="password" class="register-input" placeholder="Repeat password" name="rePassword"
					required rePassword ngModel
					#rePasswordInput="ngModel">
					<div class="error" *ngIf="rePasswordInput.touched">
						<span *ngIf="rePasswordInput.errors?.['required']">Please repeat your password!</span>
						<span *ngIf="rePasswordInput.errors?.['matchPasswordsValidator']">Passwords do not
							match!.</span>
					</div>
				</div>
				<button class="button register-submit" [disabled]="registerForm.invalid">
					<span class="button-text">Register</span>
					<i class="button-icon fa-solid fa-chevron-right"></i>
				</button>
			</form>
		</div>
		<div class="screen-background">
			<span class="screen-background-shape screen-background-shape4"></span>
			<span class="screen-background-shape screen-background-shape3"></span>
			<span class="screen-background-shape screen-background-shape2"></span>
			<span class="screen-background-shape screen-background-shape1"></span>
		</div>
	</div>
</div>