<div class="container" *ngIf="currentEmployee">

    <div class="profile-menu">
        <img src="https://i.ibb.co/bRcKhK4/user-icon.png" alt="profile-img">
        <h3>{{currentEmployee.name}}</h3>
        <h4>{{currentEmployee.email}}</h4>
        <h4>{{currentEmployee.position}}</h4>

        <div class="btns">
            <button class="btn" routerLink="/user/new" [queryParams]="{id: id}">Edit</button>
            <input type="file" class="btn" placeholder="Import documents"/>
            <button (click)="exportContract()" class="btn">Export contract</button>
        </div>
    </div>

    <div class="wrapper">
        <div class="profile">
            <div class="main-profile">
                <div class="table">
                    <div class="labels">
                        <h4>Department:</h4>
                        <h4>Employment Type:</h4>
                        <h5>Company ID:</h5>
                        <h5>Location:</h5>
                        <h5>Role:</h5>
                    </div>
                    <div class="inputs">
                        <h4>{{currentEmployee.department}}</h4>
                        <h4>{{currentEmployee.employmentType}}</h4>
                        <h5>{{currentEmployee.companyId}}</h5>
                        <h5>{{currentEmployee.location}}</h5>
                        <h5>{{currentEmployee.role}}</h5>
                    </div>

                </div>
            </div>

            <app-info-table [infoData]="adressInput" [id]="id"></app-info-table>
            <app-info-table [infoData]="experienceInput" [id]="id"></app-info-table>
            <app-info-table [infoData]="schoolInput" [id]="id"></app-info-table>
        </div>
    </div>