.container {
  /* background: radial-gradient(
    circle,
    rgba(116, 107, 243, 1) 0%,
    rgba(15, 48, 84, 1) 75%
  ); */
  background: white;

  padding: 65px 0;
  display: flex;
  flex-direction: row;
}

.profile-menu {
  margin: 0 15px;
  padding: 10px;
  box-shadow: -4px 6px 11px 0 rgb(115 145 201);
  text-align: center;
}

.wrapper {
  width: 80%;
  min-height: 80%;
  background: white;
  display: flex;
  /* margin: 0 auto; */
  flex-direction: column;
  align-items: center;
  box-shadow: 9px 5px 10px 0 rgb(115 145 201);
}

.wrapper > * {
  width: 80%;
  /* border-bottom: 1px solid rgba(15, 48, 84, 1); */
}

.main-profile {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 100%;
}

.main-profile .table {
  display: flex;
}

.main-profile .table .labels {
  background-color: rgba(15, 48, 84, 1);
  color: white;
  padding: 15px;
  border-bottom-left-radius: 12px;
  border-top-left-radius: 12px;
}

.main-profile .table .labels>*{
  border-bottom: 1px solid  #f2f2f2;
}

.main-profile .table .inputs{
  padding: 15px;
  background-color: #f2f2f2;
  border-bottom-right-radius: 12px;
  border-top-right-radius: 12px;
}

.profile-menu .btns{
  display: flex;
  flex-direction: column;
  padding: 0 30px;
}

.main-profile .table .inputs>*{
  border-bottom: 1px solid  rgba(15, 48, 84, 1);
}

img {
  width: 175px;
  height: 175px;
}

.main-profile h3,
.main-profile h4,
.main-profile h5 {
  margin-bottom: 5px;
}

.btn {
  text-align: center;
  color: white;
  background: rgba(15, 48, 84, 1);
  cursor: pointer;
  padding: 7px 17px;
  margin: 15px 0;
}
