<div class="container">
    <div class="wrapper" *ngIf="currentUser">
        <div class="main-profile">
            <img src="/assets/user-icon.png" alt="profile-img">
            <h3>{{currentUser.name}}</h3>
            <h4>{{currentUser.email}}</h4>
            <h5>{{currentUser.companyId}}</h5>
        </div>

        <div class="external form">
            <h4>External Job Experience</h4>
            <button class="button-edit btn">Edit</button>
            <div class="form-wrapper">
                <form class="ex-ex-form form">
                    <input type="text" name="location" placeholder="Location">
                    <input type="text" name="company-name" placeholder="Company name">
                    <input type="text" name="position" placeholder="Position">
                    <input type="text" name="start-date" placeholder="Start Date" onfocus="(this.type='date')"
                        onblur="(this.type='text')">
                    <input type="text" name="end-date" placeholder="End Date" onfocus="(this.type='date')"
                        onblur="(this.type='text')">
                    <input type="text" name="responsibilities" placeholder="Responsibilities">
                </form>
            </div>
        </div>

        <div class="Internal form">
            <h4>internal Job Experience</h4>
            <button class="button-edit btn">Edit</button>
            <div class="form-wrapper">
                <form class="ex-ex-form form">
                    <input type="text" name="location" placeholder="Location">
                    <input type="text" name="company-name" placeholder="Company name">
                    <input type="text" name="position" placeholder="Position">
                    <input type="text" name="start-date" placeholder="Start Date" onfocus="(this.type='date')"
                        onblur="(this.type='text')">
                    <input type="text" name="end-date" placeholder="End Date" onfocus="(this.type='date')"
                        onblur="(this.type='text')">
                    <input type="text" name="responsibilities" placeholder="Responsibilities">
                </form>
            </div>
        </div>

        <div class="education form">
            <h4>Education</h4>
            <button class="button-edit btn">Edit</button>
            <div class="form-wrapper">
                <form class=" form">
                    <input type="text" name="location" placeholder="Type">
                    <input type="text" name="company-name" placeholder="Company name">
                    <input type="text" name="position" placeholder="Position">
                    <input type="text" name="start-date" placeholder="Start Date" onfocus="(this.type='date')"
                        onblur="(this.type='text')">
                    <input type="text" name="end-date" placeholder="End Date" onfocus="(this.type='date')"
                        onblur="(this.type='text')">
                    <input type="text" name="responsibilities" placeholder="Responsibilities">
                </form>
            </div>
        </div>

        <div class="certifications form">
            <h4>Certifications</h4>
            <button class="button-edit btn">Edit</button>
            <div class="form-wrapper">
                <form class=" form">
                    <input type="text" name="location" placeholder="Type">
                    <input type="text" name="company-name" placeholder="Company name">
                    <input type="text" name="position" placeholder="Position">
                    <input type="text" name="start-date" placeholder="Start Date" onfocus="(this.type='date')"
                        onblur="(this.type='text')">
                    <input type="text" name="end-date" placeholder="End Date" onfocus="(this.type='date')"
                        onblur="(this.type='text')">
                    <input type="text" name="responsibilities" placeholder="Responsibilities">
                </form>
            </div>
        </div>
    </div>
</div>