.container {
  background: radial-gradient(
    circle,
    rgba(116, 107, 243, 1) 0%,
    rgba(15, 48, 84, 1) 75%
  );
  padding: 65px 0;
}

.wrapper {
  width: 80%;
  min-height: 80%;
  background: white;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  box-shadow: 9px 5px 10px 0 rgb(115 145 201);
}

.wrapper > * {
  width: 80%;
  border-bottom: 1px solid rgba(15, 48, 84, 1);
}

.main-profile {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
}

.main-profile img {
  width: 110px;
  height: 110px;
}

.main-profile h3,
.main-profile h4,
.main-profile h5 {
  margin-bottom: 5px;
}

/* Form */
.form h4 {
  text-align: center;
  margin: 10px 0;
  text-transform: uppercase;
}

.form .btn {
  margin: 10px 0;
}

.form-wrapper .form {
  display: flex;
  flex-direction: column;
}


.form-wrapper input {
  width: 100%;
}

/* .form-wrapper input[type="date"]{
  width: 100%;
} */
.form-wrapper .date-input{
width: 40%;
}


/* --Global-- */
/* Buttons */
.btn {
  border: none;
  padding: 7px 21px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 8px;
}

@media only screen and (min-width: 768px) {
  .wrapper{
    flex-direction: row;
    flex-wrap: wrap;
  }

  .wrapper > * {
    width: 40%;
    border-right: 1px solid rgba(15, 48, 84, 1);
    border-bottom: none;
  }
}
