.container {
  display: flex;
  flex-direction: row;
  background: rgb(116, 107, 243);
  background: radial-gradient(
    circle,
    rgba(116, 107, 243, 1) 0%,
    rgba(15, 48, 84, 1) 75%
  );
  margin: 50px;
  border-radius: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.comp {
  margin: 20px 40px;
  padding: 20px 20px;
  background-color: #f7fff2;
  color: rgba(15, 48, 84, 1);
  font-weight: 600;
  border-radius: 20px;
  box-shadow: 12px 13px 20px #ffffff47, inset 5px 3px 16px rgba(15, 48, 84, 1);
}
.profile-header {
  max-width: 30%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.profile-header img {
  border-radius: 50%;
  margin: 10px;
  max-width: 40%;
}
h4,
h5,
h6 {
  margin-top: 5px;
}

/* TODO: Upcoming */

.profile-main {
  width: 30%;
  text-align: center;
}

.profile-main input,
label {
  margin: 5px 10px;
}

.profile-main input {
  border: none;
  background: rgb(116, 107, 243);
  background: radial-gradient(
    circle,
    rgba(116, 107, 243, 1) 30%,
    rgba(15, 48, 84, 1) 95%
  );
  color: #f7fff2;
  max-width: -webkit-fill-available;
  border-radius: 15px;
  padding: 5px 2px;
  text-align: center;
  font-weight: 600;
  text-shadow: -1px 1px black;
}

.upcoming-events {
  text-align: center;
  max-height: 200px;
  overflow-y: scroll;
  /* scroll type */
}
.trainingUser-card {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid rgba(15, 48, 84, 1);
  margin: 10px;
  padding-bottom: 10px;
}
.trainingUser-card div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 5px;
}

.info-part {
  padding-top: 25px;
  text-align: center;
}

.message h1,
h2 {
  padding: 50px;
  padding-top: 20px;
  color: white;
  text-align: center;
}
