.container {
  text-align: center;
  position: relative;
}
h2 {
  margin: 15px;
}
.trainings-search label {
  margin: 5px;
  font-size: 20px;
  cursor: pointer;
}
.trainings-search input {
  font-size: 20px;
  border: none;
  border-bottom: 1px solid rgb(235, 228, 252);
  padding: 10px;
  cursor: text;
}
.trainings-search input:focus {
  outline: none;
  border-bottom: 1px solid white;
  border-radius: 10px;
  background-color: rgb(244, 241, 251);
  opacity: 0.9;
}

.trainings-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

app-training-card{
  width: 30%;
  margin: 40px 0;
}
