<div class="container">
    <h2>PERSONNEL</h2>

    <div class="list-wrapper" *ngFor="let employee of employees">
        <div class="employee-card">
            <p>Name: <span class="info">{{employee.data.name}}</span></p>
            <p>Company Id: <span class="info">{{employee.data.companyId}}</span> </p>
            <p>Email: <span class="info">{{employee.data.email}}</span></p>
            <div class="btn" *ngIf="isAdmin()">
                <button routerLink="/user/new" [queryParams]="{id: employee.id}"><i class="fa-solid fa-user-pen"></i></button>
                <button (click)="onDelete(employee.id)"><i class="fa-solid fa-trash"></i></button>
            </div>
        </div>
    </div>

</div>