<div>
    <form  #form="ngForm" (ngSubmit)="onSubmit(form)">
        <div class="input-data">
            <label for="company">{{data.infoData.institution}} Name
            </label>
            <input type="text" class="employee-input" name="institution" #inputinstitution="ngModel" required ngModel>
            <span class="err-msg" *ngIf="form.controls['institution']?.touched">
                    <span *ngIf="form.controls['institution']?.errors?.['required']">{{data.infoData.institution}} Name is required! </span>
                    <span *ngIf="form.controls['institution']?.errors?.['minlength']">{{data.infoData.institution}}Name should be minimum 8
                        characters! </span>
                </span>
        </div>
        <div class="input-data">
            <label for="location">Location
            </label>
            <input type="text" class="employee-input" name="location" #inputlocation="ngModel" required ngModel >
            <span class="err-msg" *ngIf="form.controls['location']?.touched">
                    <span *ngIf="form.controls['location']?.errors?.['required']">Location is required! </span>
                    <span *ngIf="form.controls['location']?.errors?.['minlength']">Location should be minimum 8 characters!
                    </span>
                </span>
        </div>

        <div class="input-data">
            <label for="position">{{data.infoData.activity}}
            </label>
            <input type="text" class="employee-input" name="activity" #inputactivity="ngModel" required ngModel>
            <span class="err-msg" *ngIf="form.controls['activity']?.touched">
                    <span *ngIf="form.controls['activity']?.errors?.['required']">{{data.infoData.activity}} is required! </span>
                    <span *ngIf="form.controls['activity']?.errors?.['minlength']">{{data.infoData.activity}} should be minimum 2 characters!
                    </span>
                </span>
        </div>
        <div class="input-data">
            <label for="startDate">Start Date
            </label>
            <input type="text" class="employee-input" name="startDate" #inputstartDate="ngModel" required ngModel>
            <span class="err-msg" *ngIf="form.controls['startDate']?.touched">
                    <span *ngIf="form.controls['startDate']?.errors?.['required']">Start Date is required! </span>
                    <span *ngIf="form.controls['startDate']?.errors?.['minlength']">Start Date should be minimum 6
                        characters! </span>
                </span>
        </div>

        <div class="input-data">
            <label for="end-date">End Date
            </label>
            <input type="text" class="employee-input" name="endDate" #inputendDate="ngModel" required ngModel>
            <span class="err-msg" *ngIf="form.controls['end-date']?.touched">
                    <span *ngIf="form.controls['end-date']?.errors?.['required']">End Date is required! </span>
                    <span *ngIf="form.controls['end-date']?.errors?.['minlength']">End Date should be minimum 2
                        characters!
                    </span>
                </span>
        </div>
        <div class="input-data">
            <label for="description">Description
            </label>
            <textarea type="text" class="employee-input" name="description" #inputdescription="ngModel" required ngModel></textarea>
            <span class="err-msg" *ngIf="form.controls['description']?.touched">
                    <span *ngIf="form.controls['description']?.errors?.['required']">Description is required! </span>
                    <span *ngIf="form.controls['description']?.errors?.['minlength']">Description should be minimum 4
                        characters! </span>
                </span>
        </div>
        <div class="input-data">
            <button type="submit" class="send-btn btn">Send</button>
            <button mat-button mat-dialog-close (click)="onCloseClick()">Close</button>
        </div>
    </form>

</div>