@import "ngx-toastr/toastr";
@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --crl-light: rgba(212, 254, 239,1);
  --clr-white: rgba(229, 255, 252,1);
  --clr-black: rgb(0, 0, 0);
  --clr-primary: rgba(15, 48, 84, 1);
}

a{
  text-decoration: none;
}
li{
  list-style: none;
}

.container{
min-height: 78vh;
}


/* Inputs */
input[type="text"],
input[type="date"],
input[type="password"] {
  outline: none;
  border: 2px solid white;
  padding: 8px;
  transition: all 0.3s ease;
  max-width: calc(100%-16px);
}

input[type="text"]:focus,
input[type="date"]:focus,
input[type="password"]:focus {
  border: 2px solid #3e9eff;
}

input[type="text"]:active,
input[type="date"]:active,
input[type="password"]:active {
  border: 2px solid #3e9eff;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
